// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Common aria helpers.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
// 6. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
//
// -----------------------------------------------------------------------------

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 6

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4


// Utilities/
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "common/index"; // 3
@import "components/components"; // 6


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1

@import "roots/mods";

 
// Customization
// -----------------------------------------------------------------------------
//
// 1. Customization
//
// -----------------------------------------------------------------------------

$color-red:#E51E31;
$color-darkred:#951320;
$color-light:#F9F9F9;
$color-grey:#D2D2D2;
$color-mid-grey:#959595;
$color-dark-grey:#4E4E4E;
$color-darker-grey:#333;


html{ scroll-behavior: smooth; }

/* helpers */
.ft-heading {
    font-family: "Roboto Condensed";
}
.fs-sm {
    font-size:14px;
}
.fw-bold {
    font-weight: 700;
}
.text-uppercase {
    text-transform: uppercase;
}

/* color */
.bg {
    &-white {
        background-color: #FFF;
    }
    &-light {
        background-color: $color-light;
    }
}
.text {
    &-red {
        color:$color-red;
    }
}
a.text-red:hover {
    color:$color-darkred;
}

/* typograpphy */
h1,h2,h3 {
    text-transform: none;
}



/* rounded box */
.img-box {
    border-radius:24px;
    width:100%;
    position: relative;
    &:after {
        content:'';
        position: absolute;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        border:1px solid rgba(0,0,0,0.07);
        border-radius:24px;
        pointer-events: none;
    }
    &.img-box-square {
        height: 0;
        padding: 0 0 100%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        &.object-fit-cover {
            object-fit: cover;
        }
        &.object-fit-scale-down {
            object-fit: scale-down;
        }
    }
}

/* Category header */
#go-to-products {
    margin: -20px 0 20px;
    display: block;
    cursor:pointer;
    svg {
        margin:0 3px 0 0;
    }
}
#the-products {
    position: relative;
    top: -150px; 
}

.category-column-content {
    display: flex;
    @media only screen and (max-width: 767px) {
        flex-direction:column;
    }
    .category-image {
        border:0;
        padding: 0;
        margin: 0 auto 24px;
        width:240px;
        max-width:100%;
        flex: 0 0 240px;
        @media only screen and (min-width: 768px) {
            margin: 0 0 40px;
        }
    }
    .category-image + .category-content {
        padding: 0;
        @media only screen and (min-width: 768px) {
            padding: 0 0 0 24px;
        }
    }
    .category-content {
        max-height:100%;
        height: 240px;
        position: relative;
        margin-bottom: 40px;
        overflow: hidden;
        transition: .25s ease-in all;
        &.expanded {
            height:auto;
            .show-more {
                position: relative;
                height:auto;
                &:before {
                    display:none;
                }
                .show-more-text {
                    padding: 0;
                    .show-more-label {
                        display:none;
                    }
                    .show-less-label {
                        display:block;
                    }
                }
            }
        }
        .show-more {
            position: absolute;
            width: 100%;
            height: 100%;
            min-height: 24px;
            bottom: 0;
            left: 0;
            cursor: pointer;
            padding-top: 18px;
            &.hide-me {
                display:none;
            }
            &:before {
                content:'';
                position: absolute;
                width:100%;
                height: 125px;
                bottom: 20px;
                left: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 80%);
            }
            .show-more-text {
                width:100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #FFF;
                @media only screen and (min-width: 768px) {
                    padding: 0 0 0 24px;
                }
                .show-less-label {
                    display: none;
                    svg {
                        transform: rotate(180deg) translateY(2px);
                        margin:0 0 0 3px;
                    }
                }
            }
        }
        h1,h2,h3 {
            &:first-child {
                margin-top: 0;
            }
        }
        .category-box {
            
        }
    }
}

.resources-box {
    clear: both;
    > div {
        padding:18px;
        margin: -20px 0 20px;
        border-radius: 24px;
        background:$color-light;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > div {
            margin: 6px;
            &:first-child {
                @extend .ft-heading;
                @extend .text-uppercase;
                @extend .fw-bold;
                font-size:22px;
                padding-right: 24px;
            }
        }
    }
    > ul {
        padding:18px;
        margin: -20px 0 20px;
        border-radius: 24px;
        background:$color-light;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        > li {
            margin: 6px;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            &:first-child {
                @extend .ft-heading;
                @extend .text-uppercase;
                @extend .fw-bold;
                font-size:22px;
                padding-right: 24px;
            }          
        }
    }
    a {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        text-align: center;
        text-transform: uppercase;
        padding: 9px 16px;
        color:$color-red;
        border: 1px solid $color-red;
        border-radius: 50px;
        display: inline-block;
    }
}

/* vertical filters (default) */
.filter-header {
    display: none;
}

/* Horizontal filters */
.horizontal-filters {
    // hide subcategories
    .facetedSearch.sidebarBlock {
        &:first-child {
            display: none;
        }
        +.sidebarBlock {
            display: flex;
            flex-direction: column;
            border: 0;
        }
    }
    // hide mobile subcategories and filter toggles
    .sidebar-nav-mobile {
        display: none;
    }
    .facetedSearch-refineFilters {
        order:1;
        display: flex !important;
        flex-wrap: nowrap;
        order:1;
        padding: 6px 12px;
        background-color:$color-light;
        border-radius: 24px;
        margin-top:0.5rem;
        + a {
            order:2;
        }
        h5 {
            display:flex;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20px;
            @extend .ft-heading;
            margin: 9px 21px 4px 8px;
            white-space: nowrap;
        }
        ul.inlineList {
            display:flex;
            flex-wrap: wrap;
            li {
                margin: 4px 2px;
                a.facetLabel {
                    border-radius: 16px;
                    color:#FFF;
                    background-color:$color-mid-grey;
                    &:hover {
                        background-color:$color-dark-grey;
                    }
                    .icon {
                        fill:#FFF;
                    }
                }
            }
            + a {
                white-space: nowrap;
                padding: 7px 6px;
            }
        }
    }
    .facetedSearch-navList {
        order:0;
        display: flex !important;
        flex-wrap: nowrap;
        padding: 12px 12px;
        background-color:$color-light;
        border-radius: 24px;
        .filter-header {
            display:flex;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 32px;
            @extend .ft-heading;
            margin: 4px 16px 4px 8px;
            white-space: nowrap;
        }
        .navList-action--checkbox::before,
        .navList-action--checkbox.is-checked::after, 
        .navList-action--checkbox.is-selected::after {
            top:0.9rem;
        }
    }
    .accordion--navList {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        .accordion-block {
            margin: 4px 2px;
            padding: 4px 12px;
            position: relative;
            border-radius:16px;
            background-color: $color-red;
            .accordion-navigation {
                border: 0;
                margin: 0 !important;
                .accordion-title {
                    color:#FFF;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1;
                    @extend .ft-heading;
                    margin:0;
                    padding: 0;
                }
                .accordion-navigation-actions {
                    svg {
                        fill:#FFF;
                        margin-left:3px;
                    }
                }
                &:not(.is-open) + .accordion-content {
                    > ul {
                        display:none;
                    }
                }
                &.is-open + .accordion-content {
                    > ul {
                        display:block;
                    }
                }
            }
            .accordion-content {
                position: relative;
                > ul {
                    position: absolute;
                    z-index: 9;
                    left: -12px;
                    top:6px;
                    width: calc(100% + 24px);
                    min-width: 210px;
                    max-width: 100%;
                    border:1px solid $color-red;
                    border-radius:16px;
                    padding: 8px 8px 8px 12px;
                    background-color: #FFF;
                    &[data-has-more-results="true"] {
                        padding-top:2rem;
                        + a {
                            position:absolute;
                            top:0.75rem;
                            z-index: 9;
                            color: $color-red;
                        }
                    }
                }
            }
        }
        .facetedSearch-clearLink {
            display: none;
        }
    }
}

/* header search */
.navPages-quickSearch .form-input, 
.quickSearchWrap .form-input {
    border-radius: 24px;
}
.quickSearchResults {
    border: 0; 
}